* {
}
body {
  background: linear-gradient(90deg, #4b6cb7 0%, #224b0b 100%);
  font-family: "Poppins", sans-serif;

  color: white;
}

.form {
  width: 25rem;
  margin-top: -30px;
  align-content: center;
  margin-left: auto;

  background-color: #000;
}
h5 {
  color: #000;
}
.card-content {
  color: white;
}
.admin {
  border: white;
  border-radius: 2rem;
  border-style: double;
  width: 350px;
  align-self: center;
  background-color: rgb(11, 87, 15);
}
